<div class="row">
    <div class="col-sm-4">
        <h4>Create an Offering</h4>
        <form #form="ngForm" (ngSubmit)="Submit(form.value)">
            <label>Title</label>
            <br>
            <input type="text" name="title" ngModel>
            <br>
            <label>Description</label>
            <br>
            <input type="text" name="description" ngModel>

            <br>

            <label>Price</label>
            <br>
            <form class="range-field">
                <input type="range" min="0" max="100" />
            </form>

            <br>

            <button type="submit" 
                    [disabled]="false">Submit</button>
        </form>
    </div>
    <div class="row">
        <div class="col-sm-4" *ngFor="let card of cards">
            <app-card class="card" [card]="card"></app-card>
        </div>
    </div>
</div>