<div id="main-container" style="text-align:center">
  <h2>Chat</h2>

  <div class="container">
    <h6>Hello {{currentUser.Name}}!</h6>
    <form (ngSubmit)="sendMessage()" #chatForm="ngForm">
      <div>
        <label for="messageContent">Message</label>
        <input type="text" id="messageContent" name="messageContent" [(ngModel)]="messageContent" required>
      </div>
      <button class="btn-success" type="submit" id="sendmessage" [disabled]="!chatForm.valid">
        Send
      </button>
    </form>
  </div>

  <div class="container" *ngIf="messages.length > 0">
    <div *ngFor="let message of messages">
      <span>{{message}}</span>
    </div>
  </div>

</div>