.navbar {
    background: rgb(17, 159, 248);
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.navbar-brand {
    color: rgb(43, 43, 43);
    font-weight: bolder;
}

.btn {
    font-weight: bold;
    border: 1px solid black;
}