/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

img {
    width: 100%;
}

.locationdate {
    color: #5f5f5f;
    font-style: italic;
}