<div class="card" *ngIf="CardURL">
  <div class="card-img-top">
    <img src="'data:image/jpg;base64,' + card.image">
  </div>
 
  <div class="card-body">
    <h4 class="card-title">{{card.title}}</h4>
    <p class="card-text">{{card.description | slice:0:120}}...</p>  
    
  </div>
  <div class="row locationdate" >
    <div class="col-sm-6">
      <p class="text-center">{{card.location}}</p>
    </div>  <!--this right here is a comment-->
    <div class="col-sm-6 col-sm-offset-6">
      <p class="text-center">{{card.postDate | date}}</p>
    </div>
  </div>
</div>