<div class="card" *ngIf="cardUser != null">
  <div class="card-img-top">
    <a [routerLink]="['/profile', cardUser.ID]">{{cardUser.Name}}</a>
    <img src="{{card.ImageURL}}" />
  </div>
 
  <div class="card-body">
    <h4 [routerLink]="['/service', card.ID]" class="card-title">{{card.Title}}</h4>
    <p [routerLink]="['/service', card.ID]" class="card-text">{{card.Description | slice:0:120}}...</p>  
    
  </div>
  <div class="d-flex justify-content-around locationrow" style="margin-bottom: 7px;">
      <p style="margin-top: 3px;" class="text-center">{{card.Location}}</p>
      <p style="margin-top: 3px;" class="text-center">{{card.PostDate | date}}</p>
      <button class="btn-primary btn-danger" style="border-radius: 5px;" *ngIf="cardUser.ID == currentUser.ID" (click)="Delete()">Delete</button>
      <button class="btn-primary" style="border-radius: 5px;" *ngIf="cardUser.ID != currentUser.ID" (click)="Request()">Request</button>
    </div>
</div>