<div class="card" *ngIf="CardURL">
  <div class="card-img-top">
    <img [src]="CardURL">
  </div>
 
  <div class="card-body">
    <h4 class="card-title">{{card.Title}}</h4>
    <p class="card-text">{{card.Description | slice:0:120}}...</p>  
    
  </div>
  <div class=" row locationdate" >
    <div class="col-sm-6">
      <p class="text-center">{{card.Location}}</p>
    </div>
    <div class="col-sm-6 col-sm-offset-6">
      <p class="text-center">{{card.PostDate | date}}</p>
    </div>
  </div>
</div>