<div>
    <div class="row">
        <div class="col-sm-4 usercontainer" >
            <h6>Satisfaction</h6> 
            <h6>Completed</h6>
        </div>  

        <div class="col-sm-4 usercontainer">
            <img src="https://media.licdn.com/dms/image/C4E03AQFidnzwaFPBuQ/profile-displayphoto-shrink_200_200/0?e=1547078400&v=beta&t=9znaKtOqrdXuHA9pLtTyGmDWERZsW7cVWuDwE8AmpnQ" style="width:200px" class="image-border">
        </div>
        <div class="col-sm-4 usercontainer">
            <button type="button" class="btn-outline-secondary">Contact User</button>
        </div>
    </div>
    <div class="infocontainer">
        <h1>{{user.Name}}</h1>
        
    </div>
    <div class="biocontainer" >
        <h6 style="align-items: center">{{user.Bio}}</h6>
    </div>
    
</div>
<div style="border:1px solid black">
    <h5 class="infocontainer">Services</h5>
    <div class="col-sm-4" *ngFor="let card of Cards">
        <app-card class="card" [card]="card"></app-card>
    </div>
</div>